{% extends "layouts/empty.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% endblock %}
{% block body %}
<div class="row h-100" id="bodycontainer">
    <div id="title" class="col-lg-5">
        <div id="intro">
            <span id="name" class="bold">Hi, I'm Evan!</span>
            <div id="splurg">Student & aspiring software developer / entrepreneur in Kent, Connecticut.</div>
            <div id="moreinfo">I'm interested in all things code, tech, automation, artificial intelligence, neuroscience, philosophy, psychology, space, piano, and literature.</div>
            <div id="socialmedias">
                <a href="https://twitter.com/evankirkiles" class="fab fa-twitter" target="_blank"></a>
                <a href="https://github.com/evankirkiles" class="fab fa-github" target="_blank"></a>
                <a href="https://www.linkedin.com/in/evankirkiles/" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://medium.com/evankirkiles" class="fab fa-medium" target="_blank"></a>
                <a href="mailto:kirkilese@gmail.com" class="fa fa-envelope" target="_blank"></a>
            </div>
            <div id="sections">
                <h2><a href="/" id="thoughts">Thoughts</a></h2>
                <h2><a href="/projects" id="projects">Projects</a></h2>
                <h2><a href="/books" id="books">Books</a></h2>
            </div>
            {% block content_description %}{% endblock %}
        </div>
    </div>
    <div id="bodycont2" class="col-lg-7">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}    
{% block footer %}
{% endblock %}