<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/05e0b979cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <title>Evan Kirkiles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <div id="content">
        <div class="row" id="bodycontainer">
            <div id="title" class="col-lg-5">
                <!-- <img src="https://static.etoffe.com/inter/141855/panneau-drawing-hands-mc-escher.jpg" class="titleimg"> -->
                <div id="intro">
                    <span id="name" class="bold">Hi, I'm Evan!</span>
                    <div id="splurg">Student & aspiring software developer / entrepreneur in Kent, Connecticut.</div>
                    <div id="moreinfo">I'm interested in all things code, tech, automation, artificial intelligence, neuroscience, philosophy, psychology, space, piano, and literature.</div>
                    <div id="socialmedias">
                        <a href="https://twitter.com/evankirkiles" class="fab fa-twitter" target="_blank"></a>
                        <a href="https://github.com/evankirkiles" class="fab fa-github" target="_blank"></a>
                        <a href="https://www.linkedin.com/in/evankirkiles/" class="fab fa-linkedin" target="_blank"></a>
                        <a href="https://medium.com/evankirkiles" class="fab fa-medium" target="_blank"></a>
                        <a href="mailto:kirkilese@gmail.com" class="fa fa-envelope" target="_blank"></a>
                    </div>
                    <div id="sections">
                        <h2><a href="/" id="thoughts">Thoughts</a></h2>
                        <h2><a href="/projects" id="projects">Projects</a></h2>
                        <h2><a href="/books" id="books">Books</a></h2>
                    </div>
                </div>
                <!-- <img src="https://img.over-blog-kiwi.com/0/72/46/81/20150612/ob_a11dfe_pan-de-mur-jpg" class="titleimg"> -->
            </div>
            <div id="bodycont" class="col-lg-7">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
</body>
</html>