APP_NAME=My Website
BASE_URI=http://localhost:5000

# Make this strong, generate with Python3 command:
# $ python3 -c "import secrets; print(secrets.token_hex(16))"
SECRET_KEY=

# Run on HTTPS only? This only matters in the development environment
SSL_DISABLE=False  (but really up to you)

# PostgreSQL database URL
DEV_DATABASE_URL=

# Login credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=