/*
 * globals.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 evan's website 
 */

@import '@/styles/utils';
@import '@/styles/globals';

:root {
  --shf: 4.9406564584124654e-324;
  --bottom-padding: 1em;
  --right-padding: 1em;
}

html {
  background-color: color('white');
  color: color('black');
}

html,
body {
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  font-family: var(--akzidenz-font);

  @include media("lg") {
    background-color: color('black') !important;
  }
}

::selection {
  background-color: color('blue');
  color: color('white');
}
