files:
 /etc/app/:
    source: https://elasticbeanstalk-us-east-1-096169568185.s3.amazonaws.com/Evan+Kirkiles's+Website/deployment/production.env
    authentication: S3Access
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: mybucket