/*
 * Page.module.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 evan's personal website, 
 */

@import '@/styles/utils';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media('lg') {
    flex-direction: row;
  }
}

.column {
  &Meta {
    background-color: color('white');
    color: color('black');
    flex: 1;
    min-height: 100vh;
    position: relative;
    height: 100vh;
    padding-bottom: 2em;
    padding: 1.1em;

    background-size: 1em 1em;
    background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);

    @include media('lg') {
      position: sticky;
      top: 0;
      bottom: 0;
      max-width: 24em;
    }

    display: grid;
    grid-template:
      'a n b' auto
      's s s' 1fr
      'c c c' auto / auto 1fr auto;
  }

  &Content {
    flex: 1;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 1.1em;
    gap: 0.5em;
    background: color('black');
    color: color('white');
    display: flex;
    flex-direction: column;

    &_label {
      font-size: 2em;
      font-weight: 700;
      position: sticky;
      top: 0.55em;
      z-index: 1;
      background-color: color("black");
    }

    &_inner {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      grid-auto-rows: min-content;
      gap: 1em;

      @include media("md") {
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
      }
    }
  }
}

.pageNumber {
  font-size: 1.5em;
  font-weight: 100;
}

.title {
  font-size: 5em;
  font-weight: 700;
  margin-left: -0.08em;
  animation: fade-slide-right 1s ease-in-out;
}

.links {
  font-size: 1.5em;
  grid-area: a;
}

.navButton {
  display: block;
  transition: transform 0.1s ease-in-out;
  grid-area: a;
  font-weight: 100;

  &:hover {
    transform: translateX(0.2em);
    font-weight: 400;
  }

  & span {
    opacity: 0.1;
  }
}

.inner {
  grid-area: s;
  margin-top: 3.5em;
}

.pageNum {
  position: absolute;
  bottom: 1em;
  right: 0.3em;
  overflow: hidden;
  height: 15em;
  width: 16em;
  opacity: 0.1;
  pointer-events: none;

  & span {
    position: absolute;
    font-size: 20em;
    top: 0;
    right: 0;
  }
}