{% extends "layouts/base.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/books.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/books.css') }}">
{% endblock %}
{% block content_description %}
<div id="books-description">
    <img src="https://i.pinimg.com/474x/7e/7d/0d/7e7d0ddfe4c4d357ab675204b3a294fe--petit-pan.jpg" id="petitepandemurjaune">
    <div id="books-desc-text">I believe that I read a bit more than average, so I've put all my thoughts on some of the books I've read here.</div>
</div>
{% endblock %}
{% block content %}
      <div id="book-wrap">
        <div id="bookshelf">
            <div id="book-gradient-left"></div>
            <div id="book-gradient-right"></div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
            <div class="book">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" id="recherche">
            </div>
        </div>
        <div class="book-description row">
            <div class="book-metadata col-lg-4">
                <img src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/lrg/9782/2210/9782221047415.jpg" class="book-img">
                <b class="book-title">A la Recherche du Temps Perdu</b>
                <span class="book-author">Marcel Proust, 1920</span>
            </div>
            <div class="book-review col-lg-8">
                <span class="book-review-text">
<p>Lorem ipsum dolor sit amet, eum et wisi qualisque, mei magna dolores ne. Cibo evertitur dissentiunt cu vis, sed id choro invenire. Docendi liberavisse disputationi sit id. Ut dicunt accusata sit. Ei inani nostrud mea, ut dolor utroque evertitur mei, cum id deserunt consectetuer.</p>
<p>Mei te nibh congue propriae, an mea utinam denique intellegam, eum et legere adolescens reformidans. Modus etiam vim id. Aperiam euismod iudicabit eu has, eu mel liber inermis intellegat. Cu usu malis zril, nec vide labore dictas cu. At doming ancillae laboramus nam.</p>
<p>His ut prima laudem officiis. Et accusamus mediocritatem eos. Eu sea clita consul. Mea harum discere neglegentur in, elit ipsum ex mei. Ius ei liber melius, regione senserit at mea, quo eu noster virtute neglegentur.</p>
<p>Laoreet copiosae eu has. Enim intellegat vituperatoribus ad vis. Id usu errem discere copiosae, nam modo tollit exerci et, veri electram intellegam no eos. Qui ei mutat dictas labores, eu pri iracundia sadipscing. Eu cum dicant dissentias. Nec dicta eruditi no, choro iuvaret vel ut.</p>
<p>Minim dolore deleniti et sit, tollit abhorreant te sit. Duo at veniam dolore, mel nostrum omnesque ne, ipsum virtute an eum. Impedit assentior ne vim, ad usu veri molestiae appellantur, et simul necessitatibus pri. In mollis maiorum has, inani pertinax at nam, sit putant utamur euripidis ea. In idque everti pri, eos rebum evertitur et.</p>
<p>Lorem ipsum dolor sit amet, eum et wisi qualisque, mei magna dolores ne. Cibo evertitur dissentiunt cu vis, sed id choro invenire. Docendi liberavisse disputationi sit id. Ut dicunt accusata sit. Ei inani nostrud mea, ut dolor utroque evertitur mei, cum id deserunt consectetuer.</p>
<p>Mei te nibh congue propriae, an mea utinam denique intellegam, eum et legere adolescens reformidans. Modus etiam vim id. Aperiam euismod iudicabit eu has, eu mel liber inermis intellegat. Cu usu malis zril, nec vide labore dictas cu. At doming ancillae laboramus nam.</p>
<p>His ut prima laudem officiis. Et accusamus mediocritatem eos. Eu sea clita consul. Mea harum discere neglegentur in, elit ipsum ex mei. Ius ei liber melius, regione senserit at mea, quo eu noster virtute neglegentur.</p>
<p>Laoreet copiosae eu has. Enim intellegat vituperatoribus ad vis. Id usu errem discere copiosae, nam modo tollit exerci et, veri electram intellegam no eos. Qui ei mutat dictas labores, eu pri iracundia sadipscing. Eu cum dicant dissentias. Nec dicta eruditi no, choro iuvaret vel ut.</p>
<p>Minim dolore deleniti et sit, tollit abhorreant te sit. Duo at veniam dolore, mel nostrum omnesque ne, ipsum virtute an eum. Impedit assentior ne vim, ad usu veri molestiae appellantur, et simul necessitatibus pri. In mollis maiorum has, inani pertinax at nam, sit putant utamur euripidis ea. In idque everti pri, eos rebum evertitur et.</p>
<p>Lorem ipsum dolor sit amet, eum et wisi qualisque, mei magna dolores ne. Cibo evertitur dissentiunt cu vis, sed id choro invenire. Docendi liberavisse disputationi sit id. Ut dicunt accusata sit. Ei inani nostrud mea, ut dolor utroque evertitur mei, cum id deserunt consectetuer.</p>
<p>Mei te nibh congue propriae, an mea utinam denique intellegam, eum et legere adolescens reformidans. Modus etiam vim id. Aperiam euismod iudicabit eu has, eu mel liber inermis intellegat. Cu usu malis zril, nec vide labore dictas cu. At doming ancillae laboramus nam.</p>
<p>His ut prima laudem officiis. Et accusamus mediocritatem eos. Eu sea clita consul. Mea harum discere neglegentur in, elit ipsum ex mei. Ius ei liber melius, regione senserit at mea, quo eu noster virtute neglegentur.</p>
<p>Laoreet copiosae eu has. Enim intellegat vituperatoribus ad vis. Id usu errem discere copiosae, nam modo tollit exerci et, veri electram intellegam no eos. Qui ei mutat dictas labores, eu pri iracundia sadipscing. Eu cum dicant dissentias. Nec dicta eruditi no, choro iuvaret vel ut.</p>
<p>Minim dolore deleniti et sit, tollit abhorreant te sit. Duo at veniam dolore, mel nostrum omnesque ne, ipsum virtute an eum. Impedit assentior ne vim, ad usu veri molestiae appellantur, et simul necessitatibus pri. In mollis maiorum has, inani pertinax at nam, sit putant utamur euripidis ea. In idque everti pri, eos rebum evertitur et.</p>
                </span>
                <div class="fake-padding"></div>
            </div>
        </div>
      </div>
{% endblock %}
