#bodycontainer {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#books-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

#books-desc-text {
    padding: 15px;
    padding-right: 0px;
    opacity: 0.8;
    font-size: 20px;
}

#petitepandemurjaune {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 5px;
    object-fit: cover;
}

#book-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#bookshelf {
    width: 100%;
    background-color: #121212;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #000000;
    padding: 10px;
    min-height: 163px;
    height: 163px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
}

.book {
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 10px;
    min-width: 98px;
    width: 98px;
    height: 135px;
    overflow: hidden;
    transition: box-shadow .3s linear;
    background-color: #FFF;
}

.book img {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: inherit;
    height: inherit;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all .45s ease;
}

.book:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}

.book > img:hover {
    transform: rotateY(-25deg);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

#book-gradient-left {
    height: 163px;
    width: 30px;
    position:absolute;
    left:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    background: linear-gradient(
        to right, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 100%
    );
}

#book-gradient-right {
    height: 163px;
    width: 30px;
    position:absolute;
    right:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    background: linear-gradient(
        to left, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 100%
    );
}

.book-img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}

.book-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.book-description {
    padding: 10px;
    width: 100%;
    height: calc(100% - 153px);
}

.book-review {
    height: 100%;
}

.book-review-text {
    text-align: left;
    display: inline-block;
    overflow-y: scroll;
    height: 100%;
}

.fake-padding {
    height: 10px;
    width: 100%;
}