#bodycontainer {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#thought-wrap {
    display: block;
    overflow-y: scroll;
    height: 100%;
    margin: auto;
    align-items: center;
    padding: 10px;
    position: relative;
}

#thought-gradient-top {
    width: 95%;
    height: 10%;
    position:absolute;
    top:0;
    z-index: 1;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 100%
    );
}
#thought-gradient-bottom {
    width: 95%;
    height: 10%;
    position:absolute;
    bottom:0;
    z-index: 1;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0) 100%
    );
}

#thought-container {
    border-top: 40px solid black;
    border-bottom: 40px solid black;
    display: flex;
    flex-direction: column;
    flex: 9;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.thought {
    display: block;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

.thought-time {
    color: #bd2438;
    font-size: 80%;
}

.day-thought-interjection {
    color: #bd2438;
    opacity: 0.8;
}

.thought:first-of-type {
    margin-top: 0;
}

.thought:last-of-type {
    margin-bottom: 0;
}