#projects-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#projects-container {
    padding: 10px;
    overflow-y: scroll;
}

#projects-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

#projects-desc-text {
    padding: 15px;
    padding-right: 0px;
    opacity: 0.8;
    font-size: 20px;
}

#themule {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 5px;
    object-fit: cover;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.project-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 100px;
}

.project-info {
    text-align: left;
}

.project-title {
    color: #8a1c2a;
    font-size: 20px;
}

.project-year {
    opacity: 0.8;
    font-size: 10px;
    margin-left: 5px;
}