/*
 * styles.module.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 evan's personal website, 
 */
@import '@/styles/utils';

@keyframes fade-slide-right {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

$num-iters: 4;
$iter-offset: 0.2s;
.container {
  display: grid;
  grid-template:
    'c c' auto
    't d' auto / 1fr auto;
  gap: 0.3em;
  height: fit-content;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  position: relative;

  &::before {
    content: '';
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border-radius: 0.2em;
    background-color: color("darkestgray");
    opacity: 0;
    position: absolute;
  }

  &:hover {
    &::before {
      opacity: 0.8;
    }
  }
}

.image {
  grid-area: c;
  border: 1px solid color('darkestgray');
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
  min-width: 0px;
  border: 1px solid color('darkestgray');
  background-color: #101010;
  transition: border-color 0.1s ease-in-out;
}

.titleArea {
  grid-area: t;
  position: relative;
}

.title {
  font-size: 0.8em;
  font-weight: 100;
}

.dateArea {
  grid-area: d;
  font-size: 0.6em;
  font-weight: 100;
  text-align: right;
  position: relative;
}
