/*
 * Footer.module.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 evan's personal website, 
 */
@import "@/styles/utils";

.container {
  width: calc(100% - 2em);
  background-color: color("black");
  margin: 0.5em 1em;
  color: color("darkgray");
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  span {
    display: inline-block;
    margin-right: 0.3em;
  }
}

.credits {
  color: color("gray");
  font-size: 1.2em;
}

.credits_col {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 3em;
}

.credits_buttons {
  position: absolute;
  top: 0em;
  right: 0em;

  a {
    transition: color 0.1s ease-in-out;
    &:hover {
      color: color("white");
    }
  }
}