/*
 * styles.module.scss
 * author: evan kirkiles
 * created on Wed Apr 05 2023
 * 2023 the nobot space, 
 */

@import '@/styles/utils';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media('lg') {
    flex-direction: row;
  }
}

.pageColumn {
  position: sticky;
  top: 0;
  left: 0;
  background-color: color("black");
  color: color("white");
  font-size: 1.8em;
  padding: 0.2em;
  font-weight: 700;
  overflow: hidden;
  height: 1.4em;
  z-index: zIndex("medium");
  border-bottom: 1px solid color("darkestgray");

  & a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: min-content;
    height: min-content;
    transform-origin: 0% 50%;
    gap: 0.1em;

    & svg {
      height: 0.8em;
      width: 0.8em;
    }

    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    will-change: opacity;
    &:hover {
      opacity: 0.5;
      transform: scaleX(0.95);
    }

    @include media("lg") {
      transform-origin: 50% 0%;
      align-items: center;
      &:hover {
        opacity: 0.5;
        transform: scaleY(0.95);
      }
    }
  }

  @include media('lg') {
    writing-mode: vertical-lr;
    margin-bottom: unset;
    overflow: hidden;
    height: unset;
    width: 1.4em;
    border-bottom: unset;
    border-right: 1px solid color("darkestgray");
  }
}

.outer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inner {
  background-color: color("black");
  color: color("white");
  flex: 1;
  min-height: 100vh;
  padding: 0.9em;
  padding-left: 1em;
  padding-top: 8.5em;
  display: flex;
  flex-direction: column;

  background-size: 1em 1em;
  background-image: linear-gradient(to right, #080808 1px, transparent 1px),
    linear-gradient(to bottom, #080808 1px, transparent 1px);

  @include media('lg') {
    padding-top: 0.6em;
  }
}

.title {
  font-size: 3em;
  font-weight: 700;
  white-space: break-spaces;
  margin-bottom: 0.05em;

  @include media('xs') {
    font-size: 4em;
    margin-bottom: 0.1em;
  }

  @include media('lg') {
    padding-right: 1.5em;
    margin-bottom: 0.08em;
  }
}

.subtitle {
  font-size: 2em;
  opacity: 0.8;
}

.dateRow {
  width: 100%;

  & h2 {
    display: inline-block;
    white-space: break-spaces;

    @include media("lg") {
      margin-right: 3em;
    }
  }

  &_subinfo {
    font-size: 1.3em;
    display: inline-block;

    & span {
      display: inline-block;
      white-space: nowrap;
      margin-right: 2em;
      opacity: 0.5;
  
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
  width: 100%;

  @include media("lg") {
    flex-direction: row;
  }

  &_text {
    flex: 2;
    font-size: 1em;
    opacity: 0.8;

    & figure {
      margin-bottom: 1em;
      @include media("lg") {
        display: none;
      }
    }

    @include media("lg") {
      max-width: 30em;
    }
  }

  &_pictures {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 50em;

    &_inner {
      flex: 1;
      width: 100%;

      @include media("lg") {
        flex: unset;
      }
    }

    & figure:first-of-type {
      display: none;
      @include media("lg") {
        display: flex;
      }
    }
  }

  & p {
    margin-bottom: 1em;
  }
}

.visit_button {
  position: sticky;
  bottom: 1em;
  left: 1em;
  border: 1px solid color('darkestgray');
  height: 3em;
  background-color: color("black");
  width: 100%;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  cursor: pointer;
  font-size: 0.75em;
  overflow: hidden;
  color: color('gray');

  & > a {
    font-family: monospace;
    text-overflow: ellipsis;
    z-index: 10;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateZ(0);
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color("darkestgray");
    transform-origin: 0% 50%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
  }

  &:hover {
    color: color('white');
    &::before {
      transform: scaleX(1);
    }
  }

  @include media('lg') {
    position: relative;
    bottom: unset;
    left: unset;
  }

}

.image {
  border: 1px solid color('darkestgray');
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
  min-width: 0px;
  border: 1px solid color('darkestgray');

  &_outer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 0.5em;
  }

  &_caption {
    width: 100%;
    text-align: center;
    opacity: 0.5;
    font-size: 0.6em;
  }
}

.external_link {
  color: color('darkestgray');
}