/*
 * Card.module.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 the nobot space, 
 */
@import '@/styles/utils';

@keyframes fade-slide-right {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

$num-iters: 3;
$iter-offset: 0.2s;
.container {
  display: grid;
  grid-template:
    'c c' auto
    't d' auto / 1fr auto;
  gap: 0.3em;
  height: fit-content;
  width: 100%;

  animation: fade-slide-right 0.5s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: $num-iters * $iter-offset;
  @for $i from 0 through $num-iters {
    &:nth-of-type(#{$i}) {
      animation-delay: $i * $iter-offset;
    }
  }

  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}

.image {
  grid-area: c;
  border: 1px solid color('darkestgray');
  z-index: 0;
  cursor: pointer;
  width: 100%;
  height: auto;
  min-width: 0px;
  border: 1px solid color('darkestgray');
}

.titleArea {
  grid-area: t;
}

.title {
  font-size: 0.8em;
  font-weight: 100;
}

.dateArea {
  grid-area: d;
  font-size: 0.6em;
  font-weight: 100;
  text-align: right;
}