/*
 * Footer.module.scss
 * author: evan kirkiles
 * created on Mon Apr 03 2023
 * 2023 evan's personal website, 
 */
@import "@/styles/utils";

.container {
  width: 100%;
  border-top: 1px solid color("darkestgray");
  background-color: color("black");
  color: color("gray");
  padding: 0.5em;

  span {
    display: inline-block;
    margin-right: 0.3em;
  }
}